.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
        // height: 100%;
        // width: 70px;
        // padding: 25px;
        margin: 15px;
        box-sizing: content-box;
    }

    .inside-path path {
        transition: all 0.4s;
    }

    .inside-path:hover path {
        fill: #32a5a5;
    }

    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav-link {
            padding: 10px 15px;
            cursor: pointer;
            transition: all 0.4s;
        }

        .nav-link:hover {
            background-color: rgb(216, 212, 212);
        }
    }
}